<!DOCTYPE html>
<html lang="en">
<head>
	<script src="/media/jquery.js"></script>
	<script src="/media/highcharts.js"></script> <!-- No need of internet now for using HighCharts Library (Bug Resolved by MSH)-->
	<!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
	<title>{% block title %}My amazing site{% endblock %}</title>

	{% if word_name and word_count %}	
	<script type="text/javascript">
		(function($){ // encapsulate jQuery

		$(function () {
    		var chart;
    			$(document).ready(function() {
       			chart = new Highcharts.Chart({
            			chart: {
                			renderTo: 'container',
                			type: 'column',
                			margin: [ 50, 50, 100, 80]
            			},
            			title: {
                			text: 'Text analyser'
            			},
            			xAxis: {
                			categories: [
						{{ word_name }}
                			],
                			labels: {
                    				rotation: -35,
                    				align: 'right',
                    				style: {
                        				fontSize: '13px',
                        				fontFamily: 'Verdana, sans-serif'
                   	 			}
                			}
            			},
            			yAxis: {
                			min: 0,
                			title: {
             	       				text: 'Counted Words'
                			}
            			},
            			legend: {
                			enabled: false
            			},
            			tooltip: {
                			formatter: function() {
                    			return '<b>'+ this.x +'</b><br/>'+'Counted times in this text: '+ Highcharts.numberFormat(this.y, 1);
                		}
            		},
                	series: [{
                		name: 'Words',
                		data: [
					{{ word_count }}
		      		],
                		dataLabels: {
                    			enabled: true,
                    			rotation: -90,
                    			color: '#FFFFFF',
                    			align: 'right',
                    			x: -3,
                    			y: 10,
                    			formatter: function() {
                        			return this.y;
                    			},
                    			style: {
                        			fontSize: '13px',
                        			fontFamily: 'Verdana, sans-serif'
                    			}
                		}
            		}]
        		});
    		});
    		});
		})(jQuery);
	</script>
	{% endif %}
	
	{% if IT and MEDICAL and blacklist_count %}
	<script type="text/javascript">
	<!-- Pie Charts work done here -->
	$(function () {
    var chart;
    
    $(document).ready(function () {
    	
			// Build the chart
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'pie_charts_container',
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false
				},
				title: {
					text: ''
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage}%</b>',
					percentageDecimals: 1
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: false
						},
						showInLegend: true
					}
				},
				series: [{
					type: 'pie',
					name: 'Domain Share',
					data: [
						{
							name: 'IT',
							y: {{ IT }},
							sliced: true
						},
						{
							name: 'MEDICAL',
							y: {{MEDICAL}},
							sliced: true
						},
						{
							name: 'GENERAL / OTHER',
							y: {{ general_domain }},
							sliced: true
						}
					]
				}]
			});
		});
    
	});
	</script>
	{% endif %}	
</head>

<body>
	<div id="sidebar">
		{% block sidebar %}
			<a href="/admin/" target="_blank">Admin</a> | <a href="/home/">Home</a> | <a href="/home/blacklist/">Add Word To Blacklist</a> | <a href="/home/sentence/">Sentence</a>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
