{% extends "base.html" %}

{% block title %}Texts{% endblock %}

{% block content %}
	<h4>Texts</h4>
	<form action="/home/" method="GET">
		<select name="id" onChange="this.form.submit()">
			<option></option>
			{% for text in text_list %}
    				<option value="{{ text.id }}">{{ text.name }}</option>
			{% endfor %}
		</select>
	</form>
	
	{% if domains %}
		<h4> Text contains words of the following domains: </h4>
		{% for domain in domains %}
			{{ domain.name }} : {{ domain.count }} <br />	
		{% endfor %}
	{% endif %}

	{% if text_object %}
		<h4> {{ text_object.name }}</h4>
		{{ text_object.text }}
	{% endif %}

	{% if analyse %}
		<form action="/home/" method="GET">
                	<input type="hidden" name="analyse" value="1"/>
                	<input type="hidden" name="id" value="{{ text_object.id }}"/>
                	<input type="submit" value=" Analyze text ">
                </form>
	{% endif %}

	{% if word_name and word_count %}
		<div id="container" style="min-width: 400px; height: 450px; margin: 0 auto"></div>
	{% endif %}
{% endblock %}
